@font-face {
  font-family: Typewriter;
  src: url("https://cdn.glitch.com/b0b4f18a-9c86-4c2e-8555-6f6d97666bc3%2FMonospaceTypewriter.ttf?v=1577653228767");
}

body {
  font-family: Typewriter;
  margin: 2em;
  background: #001626;
  color: white;
  text-align: center;
}

button {
  padding: 1px 6px;
  font-family: Typewriter;
  transition-duration: 0.3s;
  background: black;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #888888;
  color: white;
}

.test {
  background: #1c2a62;
  font-weight: bold;
  border: 2px solid #00875a;
  border-radius: 4px;
  transition-duration: 0.2s;
  font-size: 1.3em;
  color: black;
}

.test:hover {
  background-color: #00875a;
  color: white;
}