@font-face {
  
font-family: Typewriter;
  src: url("https://cdn.glitch.com/b0b4f18a-9c86-4c2e-8555-6f6d97666bc3%2FMonospaceTypewriter.ttf?v=1577653228767");

}

a { text-decoration: none; }

#drop_button {
	text-align: center;
  	display: block;
  	padding: 1% 1%;
  	font-family: Typewriter;
  	transition-duration: 0.3s;
  	background: #455A64;
  	border: .2vh solid #127A20;
  	border-radius: .5vh;
  	color: black;
  	margin-bottom: 3%;
	height: 7%;
}

html {
 	top:0; 
	left:0; 
	bottom:0; 
	right:0; 
	height:100%; 
	width:100% 
	margin:0px;
}

body {
  	font-family: Typewriter;
	font-size: 2.5vh;
  	background: #1C1C1C;
  	color: white;
  	text-align: center;
	height:98.5%
	margin:0px;
}

#input_container {
	position:absolute;
	top:0; left:0; bottom:0; right:0; height:100%; margin:0.375%;
	width: 13.25%;
	height: calc(100% - 1.25%);
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
}

#canvas {
    	position:fixed;
    	left:14%;
    	top:0;
    	width:calc(100% - 14%);
    	height:100%;
}

#image {
	position:fixed;
	top: 0px;
	left: 14%;
	height:100%;
}

#button_label {
	text-align: center;
	content-align: center;
  	display: block;
  	padding: 2% 2%;
  	font-family: Typewriter;
  	transition-duration: 0.3s;
  	background: #455A64;
  	border: .2vh solid #127A20;
  	border-radius: .5vh;
  	color: black;
  	margin-bottom: 3%;
	height: 3%;
}

#button_label:hover {
	background-color: #1565C0;
	color: white;
}

#drop_button:hover {
	background-color: #1565C0;
	color: white;
}


#text_output {
	display: block;
      	padding: 1% 1%;
      	font-family: Typewriter;
      	background: #1C1C1C;
      	border: .2vh solid #a81ddb;
      	border-radius: .5vh;
      	color: white;
      	font-size: 40%;
    	text-align: left;
	display: flex;
	flex: 1;
	flex-direction: column;
}

